# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
.venv_vk/
env/
ENV/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs
# =========================
*.log
logs/
*.sqlite3

# =========================
# Testing / coverage
# =========================
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.cache/

# =========================
# Migrations (если будешь использовать Alembic — убери эту строку)
# =========================
migrations/__pycache__/

# =========================
# Docker
# =========================
*.tar
*.pid

# =========================
# Build / dist
# =========================
build/
dist/
*.egg-info/

# =========================
# Misc
# =========================
*.tmp
*.bak